@page
@model NRepository.RazorPages.Pages.CTViewModel.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

<p>
    <a asp-page="Edit">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContactType[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactType[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactType[0].ParentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactType[0].IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ContactType)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParentID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
