@page
@model NRepository.RazorPages.Pages.Contacts.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Contact</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            @*<div asp-validation-summary="ModelOnly" class="text-danger" id=""></div>*@
            @Html.ValidationSummary(false, "", new { @class = "text-danger", @id = "validationSummary" })
            <h1>Contact Details</h1>
            <input type="hidden" asp-for="Contact.GUID" />
            <div class="form-group">
                <label asp-for="Contact.FirstName" class="control-label"></label>
                <input asp-for="Contact.FirstName" class="form-control" />
                <span asp-validation-for="Contact.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.LastName" class="control-label"></label>
                <input asp-for="Contact.LastName" class="form-control" />
                <span asp-validation-for="Contact.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.MiddleName" class="control-label"></label>
                <input asp-for="Contact.MiddleName" class="form-control" />
                <span asp-validation-for="Contact.MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Title" class="control-label"></label>
                <input asp-for="Contact.Title" class="form-control" />
                <span asp-validation-for="Contact.Title" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="Contact.Credentials" class="control-label"></label>
            <input asp-for="Contact.Credentials" class="form-control" />
            <span asp-validation-for="Contact.Credentials" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Contact.Prefix" class="control-label"></label>
            <input asp-for="Contact.Prefix" class="form-control" />
            <span asp-validation-for="Contact.Prefix" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Contact.Suffix" class="control-label"></label>
            <input asp-for="Contact.Suffix" class="form-control" />
            <span asp-validation-for="Contact.Suffix" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="Contact.CompanyName" class="control-label"></label>
                <input asp-for="Contact.CompanyName" class="form-control" />
                <span asp-validation-for="Contact.CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.TypeID" class="control-label"></label>
                <select asp-for="Contact.TypeID" class="form-control" asp-items="ViewBag.TypeID"></select>
                <span asp-validation-for="Contact.TypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Contact.IsMd" /> @Html.DisplayNameFor(model => model.Contact.IsMd)
                    </label>
                </div>
            </div>
            @*<div class="form-group">
            <label asp-for="Contact.Version" class="control-label"></label>
            <input asp-for="Contact.Version" class="form-control" />
            <span asp-validation-for="Contact.Version" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Contact.CreatedDate" class="control-label"></label>
            <input asp-for="Contact.CreatedDate" class="form-control" />
            <span asp-validation-for="Contact.CreatedDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Contact.CreatedBy" class="control-label"></label>
            <input asp-for="Contact.CreatedBy" class="form-control" />
            <span asp-validation-for="Contact.CreatedBy" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Contact.ModifiedDate" class="control-label"></label>
            <input asp-for="Contact.ModifiedDate" class="form-control" />
            <span asp-validation-for="Contact.ModifiedDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Contact.ModifiedBy" class="control-label"></label>
            <input asp-for="Contact.ModifiedBy" class="form-control" />
            <span asp-validation-for="Contact.ModifiedBy" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Contact.SSN" class="control-label"></label>
            <input asp-for="Contact.SSN" class="form-control" />
            <span asp-validation-for="Contact.SSN" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Contact.IsTest" class="control-label"></label>
            <input asp-for="Contact.IsTest" class="form-control" />
            <span asp-validation-for="Contact.IsTest" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input asp-for="Contact.IsDemo" /> @Html.DisplayNameFor(model => model.Contact.IsDemo)
                </label>
            </div>
        </div>*@
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Contact.IsDeleted" /> @Html.DisplayNameFor(model => model.Contact.IsDeleted)
                    </label>
                </div>
            </div>
            @*<div class="form-group">
            <label asp-for="Contact.Department" class="control-label"></label>
            <input asp-for="Contact.Department" class="form-control" />
            <span asp-validation-for="Contact.Department" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Contact.CreatedByUserID" class="control-label"></label>
            <input asp-for="Contact.CreatedByUserID" class="form-control" />
            <span asp-validation-for="Contact.CreatedByUserID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Contact.ModifiedByUserID" class="control-label"></label>
            <input asp-for="Contact.ModifiedByUserID" class="form-control" />
            <span asp-validation-for="Contact.ModifiedByUserID" class="text-danger"></span>
        </div>*@




            <H3 style="display: inline-block"> Emails</H3>
            <button class="btn btn-xs btn-success" onclick="addContactRow('#listOfContactEmail', 'templateEmailRow', 'DummyContact_ContactEmails', 'Contact_ContactEmails')">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </button>
            <hr />
            <div class="form-horizontal" style="width:400px;" id="listOfContactEmail">
                @Html.EditorFor(model => Model.Contact.ContactEmails, "ContactEmailEdit")
            </div>



            <H3 style="display: inline-block"> Addresses</H3>
            <button class="btn btn-xs btn-success" onclick="addContactRow('#listOfContactAddresses', 'templateAddressRow', 'DummyContact_ContactAddresses', 'Contact_ContactAddresses')">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </button>
            <hr />
            <div class="form-horizontal" style="width:400px;" id="listOfContactAddresses">
                @Html.EditorFor(model => Model.Contact.ContactAddresses, "ContactAddressEdit")
            </div>

     


            <H3 style="display: inline-block"> Phones</H3>
            <button class="btn btn-xs btn-success" onclick="addContactRow('#listOfContactPhones', 'templatePhonesRow', 'DummyContact_ContactPhones', 'Contact_ContactPhones')">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </button>
            <hr />
            <div class="form-horizontal" style="width:400px;" id="listOfContactPhones">
                @Html.EditorFor(model => Model.Contact.ContactPhones, "ContactPhonesEdit")

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>


    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>
@*<div>
        <a id="linkAddTermsRow" onclick="addContactEmailsRow();">add ContactEmails</a>
    </div>*@




<script id="templateEmailRow" type="text/template">
    @Html.EditorFor(model => Model.DummyContact.ContactEmails, "ContactEmailEdit")
</script>

<script id="templateAddressRow" type="text/template">
    @Html.EditorFor(model => Model.DummyContact.ContactAddresses, "ContactAddressEdit")
</script>

<script id="templatePhonesRow" type="text/template">
    @Html.EditorFor(model => Model.DummyContact.ContactPhones, "ContactPhonesEdit")
</script>

@section Scripts {
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
    <script src="~/js/lodash.js"></script>
    <script src="~/js/ServerValidationOnSubmit.js"></script>
}


<script>

// Example output -  <input id="Contact_ContactEmails_5__Name" name="Contact.ContactEmails[5].Name"  >
    function addContactRow(parentKey,TemplateRowKey, dummyIdKey, idKey) {
        event.preventDefault();
        alert('bob15');
         
        var nameKeyPattern = new RegExp("_", "g");
        var dummyNameKey = dummyIdKey.replace(nameKeyPattern, ".");
        var nameKey = idKey.replace(nameKeyPattern, ".");

        var msg1 = 'The dummy name key is ' + dummyNameKey;
        var msg2 = 'The name key is ' + nameKey;
        console.log(msg1);
        console.log(msg2);

        
        // find the length of the current list so we can give the next element the correct sequence number
        var nextSequenceNumber = $(parentKey).children('div').length;
       // alert(index);
        //var idnewValue = 'Contact_ContactEmails' + '_' + index; //id="Contact_ContactEmails_5__Name"
        //var nameNewValue = 'Contact.ContactEmails' + '[' + index + ']'; //name="Contact.ContactEmails[5].Name"
 
        //var idPattern = new RegExp("DummyContact_ContactEmails" + '_0', "g"); //'DummyContact_ContactEmails_0'
        //var namePattern = new RegExp("DummyContact.ContactEmails" + "\\[0\\]", "g"); //'DummyContact.ContactEmails[0]'

        var idnewValue = idKey + '_' + nextSequenceNumber; //id="Contact_ContactEmails_5__Name"
        var nameNewValue = nameKey + '[' + nextSequenceNumber + ']'; //name="Contact.ContactEmails[5].Name"

        var idPattern = new RegExp(dummyIdKey + '_0', "g"); //'DummyContact_ContactEmails_0'
        var namePattern = new RegExp(dummyNameKey + "\\[0\\]", "g"); //'DummyContact.ContactEmails[0]'

        // find the template Row
        var templateRow = $('#' + TemplateRowKey).html();//'#templateEmailRow'

        // swap the name and the ID values of the template row
        templateRow = templateRow.replace(idPattern, idnewValue);
        templateRow = templateRow.replace(namePattern, nameNewValue);

        
    // find the parent item so we can append the new template
        var table = $(parentKey);
    // var table = $('#TermsTable tbody');

        table.append(templateRow)

       // nextRowIndex++;


        //http://stackoverflow.com/questions/28019793/submit-same-partial-view-called-multiple-times-data-to-controller/28081308#28081308
        $('form').data('validator', null);
        $.validator.unobtrusive.parse($('form'));

        // hiddenTermsCountControl.val(nextRowIndex);
    }

</script>
