@page
@model NRepository.RazorPages.Pages.Contacts.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Contact</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            @*<div asp-validation-summary="ModelOnly" class="text-danger" id=""></div>*@
            @Html.ValidationSummary(false, "", new { @class = "text-danger", @id = "validationSummary" })
            <h1>Contact Details</h1>
            <input type="hidden" asp-for="Contact.GUID" />
            <div class="form-group">
                <label asp-for="Contact.FirstName" class="control-label"></label>
                <input asp-for="Contact.FirstName" class="form-control" />
                <span asp-validation-for="Contact.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.LastName" class="control-label"></label>
                <input asp-for="Contact.LastName" class="form-control" />
                <span asp-validation-for="Contact.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.MiddleName" class="control-label"></label>
                <input asp-for="Contact.MiddleName" class="form-control" />
                <span asp-validation-for="Contact.MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Title" class="control-label"></label>
                <input asp-for="Contact.Title" class="form-control" />
                <span asp-validation-for="Contact.Title" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="Contact.Credentials" class="control-label"></label>
                    <input asp-for="Contact.Credentials" class="form-control" />
                    <span asp-validation-for="Contact.Credentials" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contact.Prefix" class="control-label"></label>
                    <input asp-for="Contact.Prefix" class="form-control" />
                    <span asp-validation-for="Contact.Prefix" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contact.Suffix" class="control-label"></label>
                    <input asp-for="Contact.Suffix" class="form-control" />
                    <span asp-validation-for="Contact.Suffix" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="Contact.CompanyName" class="control-label"></label>
                <input asp-for="Contact.CompanyName" class="form-control" />
                <span asp-validation-for="Contact.CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.TypeID" class="control-label"></label>
                <select asp-for="Contact.TypeID" class="form-control" asp-items="ViewBag.TypeID"></select>
                <span asp-validation-for="Contact.TypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Contact.IsMd" /> @Html.DisplayNameFor(model => model.Contact.IsMd)
                    </label>
                </div>
            </div>
            @*<div class="form-group">
                    <label asp-for="Contact.Version" class="control-label"></label>
                    <input asp-for="Contact.Version" class="form-control" />
                    <span asp-validation-for="Contact.Version" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contact.CreatedDate" class="control-label"></label>
                    <input asp-for="Contact.CreatedDate" class="form-control" />
                    <span asp-validation-for="Contact.CreatedDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contact.CreatedBy" class="control-label"></label>
                    <input asp-for="Contact.CreatedBy" class="form-control" />
                    <span asp-validation-for="Contact.CreatedBy" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contact.ModifiedDate" class="control-label"></label>
                    <input asp-for="Contact.ModifiedDate" class="form-control" />
                    <span asp-validation-for="Contact.ModifiedDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contact.ModifiedBy" class="control-label"></label>
                    <input asp-for="Contact.ModifiedBy" class="form-control" />
                    <span asp-validation-for="Contact.ModifiedBy" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contact.SSN" class="control-label"></label>
                    <input asp-for="Contact.SSN" class="form-control" />
                    <span asp-validation-for="Contact.SSN" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contact.IsTest" class="control-label"></label>
                    <input asp-for="Contact.IsTest" class="form-control" />
                    <span asp-validation-for="Contact.IsTest" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Contact.IsDemo" /> @Html.DisplayNameFor(model => model.Contact.IsDemo)
                        </label>
                    </div>
                </div>*@
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Contact.IsDeleted" /> @Html.DisplayNameFor(model => model.Contact.IsDeleted)
                    </label>
                </div>
            </div>
            @*<div class="form-group">
                    <label asp-for="Contact.Department" class="control-label"></label>
                    <input asp-for="Contact.Department" class="form-control" />
                    <span asp-validation-for="Contact.Department" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contact.CreatedByUserID" class="control-label"></label>
                    <input asp-for="Contact.CreatedByUserID" class="form-control" />
                    <span asp-validation-for="Contact.CreatedByUserID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contact.ModifiedByUserID" class="control-label"></label>
                    <input asp-for="Contact.ModifiedByUserID" class="form-control" />
                    <span asp-validation-for="Contact.ModifiedByUserID" class="text-danger"></span>
                </div>*@




            <H3 style="display: inline-block"> Emails</H3>
            <button class="btn btn-xs btn-success" onclick="addContactEmailsRow('#listOfContactEmail', 'DummyContact_ContactEmails', 'Contact_ContactEmails')">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </button> 
            <hr />
            <div class="form-horizontal" style="width:400px;" id="listOfContactEmail">
                @Html.EditorFor(model => Model.Contact.ContactEmails, "ContactEmailEdit")
            </div>
            <H3> Addresses</H3>
            <hr />
            <div class="form-horizontal" style="width:400px;" id="listOfContactAddresses">
                @Html.EditorFor(model => Model.Contact.ContactAddresses, "ContactAddressEdit")
            </div>
            <H3> Phones</H3>
            <hr />
            <div class="form-horizontal" style="width:400px;" id="listOfContactPhones">
                @Html.EditorFor(model => Model.Contact.ContactAddresses, "ContactPhonesEdit")

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>


    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>
@*<div>
        <a id="linkAddTermsRow" onclick="addContactEmailsRow();">add ContactEmails</a>
    </div>*@




<script id="templateEmailRow" type="text/template">
    @Html.EditorFor(model => Model.DummyContact.ContactEmails, "ContactEmailEdit")
</script>

<script id="templateAddressRow" type="text/template">
    @Html.EditorFor(model => Model.Contact.ContactAddresses, "ContactAddressEdit")
</script>

@section Scripts {
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
    <script src="~/js/lodash.js"></script>
    <script src="~/js/ServerValidationOnSubmit.js"></script>
}


<script>


    function addContactEmailsRow(parentKey, dummyKey, nameKey) {
        event.preventDefault();
        alert('bob6');
        //<label class="control-label" for="DummyContact_ContactEmails_0__Name">Name</label>
        //"Contact.ContactEmails[0].Guid"
        var key = dummyKey + '_0';
        var index = $(parentKey).children('div').length;
        alert(index);
        var idnewValue = 'Contact_ContactEmails_' + index;
        var nameNewValue = 'Contact.ContactEmails[' + index + ']';
        //var hiddenTermsCountControl = $('#TermsCount');
        var idPattern = new RegExp("DummyContact_ContactEmails_0", "g");
        var namePattern = new RegExp("DummyContact.ContactEmails\\[0\\]", "g");

        //  var nextRowIndex = hiddenTermsCountControl.val();
        //var hiddenTermsCountControl = 1;
        var nextRowIndex = 1;


        var templateTermsRow = $('#templateEmailRow').html();

        //var namePattern1 = new RegExp("DummyContact", "g");
        //var nameNewValue = 'Contact';
        //var test = 'this is a test for DummyContact one two three DummyContact'
        //alert(test);

        //test = test.replace(namePattern1, nameNewValue);
        //alert(test);

        //alert('bob3');

      

        //var test = 'this is a test for DummyContact.ContactEmails[0] one two three DummyContact.ContactEmails[0]'
        // alert(test);

        //test = test.replace(namePattern, nameNewValue);
        //alert(test);
        ////test = test.replace(/[\[\]']+/g, '');
        ////alert(test);


        //  templateTermsRow = templateTermsRow.replace(/%%ROWNUMBER%%/g, nextRowIndex);
        templateTermsRow = templateTermsRow.replace(idPattern, idnewValue);
        templateTermsRow = templateTermsRow.replace(namePattern, nameNewValue);
        //  alert(templateTermsRow);

        //     templateTermsRow = templateTermsRow.replace(/%%ROWNUMBER%%/g, nextRowIndex);

        // var table = $('#TermsTable tbody');
        var table = $(parentKey);

        //   alert(table);
        table.append(templateTermsRow)

        nextRowIndex++;


        //http://stackoverflow.com/questions/28019793/submit-same-partial-view-called-multiple-times-data-to-controller/28081308#28081308
        $('form').data('validator', null);
        $.validator.unobtrusive.parse($('form'));

        // hiddenTermsCountControl.val(nextRowIndex);
    }

</script>
