@page
@model NRepository.RazorPages.Pages.NewFolder.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ContactAddress</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ContactAddress.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactAddress.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactAddress.Street)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactAddress.Street)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactAddress.Street2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactAddress.Street2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactAddress.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactAddress.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactAddress.Province)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactAddress.Province)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactAddress.ZipCodeExtension)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactAddress.ZipCodeExtension)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactAddress.ZipCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactAddress.ZipCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactAddress.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactAddress.Country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactAddress.IsPrimary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactAddress.IsPrimary)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactAddress.TimeZone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactAddress.TimeZone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactAddress.Longitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactAddress.Longitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactAddress.Latitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactAddress.Latitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactAddress.ZipCodeString)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactAddress.ZipCodeString)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactAddress.ContactGU)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactAddress.ContactGU.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactAddress.StateNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactAddress.StateNavigation.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ContactAddress.GUID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
