@page
@model NRepository.RazorPages.Pages.CT.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ContactType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ContactType.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactType.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactType.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactType.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactType.ParentID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactType.ParentID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactType.IsActive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactType.IsActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ContactType.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
